* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*, button, input {
  font-family:-apple-system, Ubuntu, Arial, sans-serif;
}

*, li {
  list-style: none;
}

::-webkit-scrollbar { 
  display: none;
}